[*.cs]

# Naming rules
dotnet_diagnostic.CA1707.severity = none            # CA1707: Identifiers should not contain underscores

dotnet_diagnostic.CA2007.severity = none            # CA2007: Do not directly await a Task

# Performance rules
dotnet_diagnostic.CA1822.severity = none            # CA1822: Mark members as static

dotnet_diagnostic.CA5394.severity = none            # CA5394: Random is an insecure random number generator