@page "/html/forms/html-input-url"

<h1>Input Url (Html)</h1>


<HtmlBlock style="margin:2rem 0">
    <HtmlLabel CssStyle="width:6rem">Label</HtmlLabel>
    <HtmlInputUrl @bind-Value="Text"></HtmlInputUrl>
</HtmlBlock>

<HtmlBlock style="margin:2rem 0">
    <HtmlLabel CssStyle="width:6rem">Input</HtmlLabel>
    <HtmlCode>@Text</HtmlCode>
</HtmlBlock>

<HtmlBlock style="margin:2rem 0">
    <HtmlButton Click="@Clear">Clear</HtmlButton>
</HtmlBlock>

@code {
    public string? Text { get; set; }

    public void Clear()
    {
        Text = string.Empty;
    }
}
