<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="dseinternational" value="https://nuget.pkg.github.com/dseinternational/index.json" protocolVersion="3" />
    <add key="dotnet9" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet9/nuget/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
      <package pattern="Microsoft.Data*" />
      <package pattern="Microsoft.EntityFrameworkCore*" />
      <package pattern="Microsoft.Extensions*" />
      <package pattern="System.Text.*" />
    </packageSource>
    <packageSource key="dseinternational">
      <package pattern="DSE.*" />
    </packageSource>
    <packageSource key="dotnet9">
      <package pattern="System.Numerics.Tensors" />
    </packageSource>
  </packageSourceMapping>
</configuration>
