@inherits TestContext
@code
{
    [Fact]
    public void RendersRows()
    {
        var items = new[]
        {
            new Person("Fred", "Flintstone"),
            new Person("Mickey", "Mouse")
        };

        var output = Render(
            @<HtmlTableTemplate Items="@items" Context="p">
                <RowTemplate>
                    <HtmlTableCell>@p.FirstName</HtmlTableCell>
                    <HtmlTableCell>@p.LastName</HtmlTableCell>
                </RowTemplate>
            </HtmlTableTemplate>);

        output.MarkupMatches("<table>" +
            "<tr><td>Fred</td><td>Flintstone</td></tr>" +
            "<tr><td>Mickey</td><td>Mouse</td></tr>" +
            "</table>");
    }

    public record Person(string? FirstName, string? LastName);
}
