@page "/html/address"

<h1>Button (Html)</h1>


    <HtmlAddress>
        <a href="mailto:abcdef@abcdef.com">abcdef@abcdef.com</a><br>
  <a href="tel:+123456789">(012) 345-6789</a>
</HtmlAddress>





@code {

}
