@page "/html/audio"

<h1>Audio (Html)</h1>


<HtmlAudio Source=""> Audio Player</HtmlAudio>

<body>
    <HtmlAudio Source="" Controls="false"> Audio without Controlls</HtmlAudio>
</body>



@code {

}
