@page "/bootstrap/controls/card"

<h1>Card</h1>

<Card style="width:16rem">
    <CardImage Source="https://cdn.down-syndrome.org/img/photos/education/inclusion-assistant-004-800w.jpg" />
    <CardBody>
        <CardTitle Level="HeadingLevel.Level5">Title</CardTitle>
        <CardParagraph>Body text</CardParagraph>
        <CardLink NavigateUri="#">Link 1</CardLink>
        <CardLink NavigateUri="#">Link 2</CardLink>
        <HtmlBlock>
            <HyperlinkButton ButtonStyle="ButtonStyle.Primary" NavigateUri="#">Link</HyperlinkButton>
        </HtmlBlock>
    </CardBody>
</Card>

@code {
}
