@page "/bootstrap/controls/password-box"
<h1>PasswordBox</h1>

<PasswordBox @bind-Value="@Value" HeaderText="Label here" DescriptionText="Description to say why you need a password"></PasswordBox>

<p>Current: <code>@Value</code></p>

@code {
    private string Value { get; set; } = "password";
}
