@inherits TestContext

@code {

    [Fact]
    public void CardFooter_ShouldRenderCardFooterClass()
    {
        // Act
        var output = Render<CardFooter>();

        // Assert
        output.MarkupMatches($"<div class=\"{BootstrapClasses.CardFooter}\"></div>");
    }

    [Fact]
    public void CardFooter_WithParentCard_ShouldHaveNonNullCard()
    {
        // Arrange
        CardFooter cardFooter = default!;

        // Act
        Render(
            @<Card>
                <CardFooter @ref="@cardFooter"></CardFooter>
            </Card>
        );

        // Assert
        Assert.NotNull(cardFooter.ParentCard);
    }

}
