@page "/svg/svg"

<h1>Svg</h1>

<SvgContainer Width="600" Height="400">

    <Rectangle Width="600" Height="400" Fill="@(Color.FromRgb(0, 200, 0))"/>

    <Circle CenterX="150" CenterY="100" Radius="40" Fill="@(Color.FromRgb(0, 0, 128))"/>

    <text x="150" y="125" font-size="60" text-anchor="middle" fill="white">SVG</text>

</SvgContainer>


@code {

}
