@page "/svg/svg"

<h1>Svg</h1>

<SvgContainer Width="600" Height="400">

    <Rectangle Width="600" Height="400" Fill="@(Color.FromRgb(0, 200, 0))"/>

    <Circle CenterX="150" CenterY="100" Radius="40" Fill="@(Color.FromRgb(0, 0, 128))"/>

    <Text X="150" Y="125" font-size="60" text-anchor="middle" Fill="@(Color.FromRgb(200,200,200))">SVG</Text>

</SvgContainer>


@code {

}
