@page "/html/controls/password-box"

<h1>Password Box (Html)</h1>

<HtmlPasswordBox @bind-Value="@Value" HeaderText="Label here" DescriptionText="Description to say why you need a password"></HtmlPasswordBox>

<p>Current: <code>@Value</code></p>

@code {
    private string Value { get; set; } = "password";
}
