@page "/bootstrap/container"

<h1>Containers</h1>

<p>See <a href="https://getbootstrap.com/docs/5.2/layout/containers">Bootstrap containers.</a></p>

<p>Change the style with the <code>ContainerType</code> attribute.</p>
