@page "/bootstrap/pagination"

<h1>Pagination</h1>

<Pagination>
    <PaginationItem>
        <PaginationLink NavigateUri="#" PaginationLinkType="PaginationLinkType.Previous"/>
    </PaginationItem>
    <PaginationItem>
        <PaginationLink NavigateUri="#">First link</PaginationLink>
    </PaginationItem>
    <PaginationItem Disabled>
        <PaginationLink NavigateUri="#">Disabled link</PaginationLink>
    </PaginationItem>
    <PaginationItem Active>
        <PaginationLink NavigateUri="#">Active link</PaginationLink>
    </PaginationItem>
    <PaginationItem>
        <PaginationLink NavigateUri="#" PaginationLinkType="PaginationLinkType.Next"/>
    </PaginationItem>

</Pagination>
