@implements IStep

<li class="stepper-item @StepCssClass">@Title</li>

@code {

    [CascadingParameter]
    private StepIndicatorSteps StepIndicatorSteps { get; set; } = default!;

    [Parameter]
    public string Title { get; set; } = default!;

    private string? StepCssClass => StepIndicatorSteps.ActiveStep == this ? "active" : null;

    protected override void OnInitialized()
    {
        if (StepIndicatorSteps is null)
        {
            throw new InvalidOperationException();
        }

        StepIndicatorSteps.AddStep(this);

        base.OnInitialized();
    }

    private void ActivateTab()
    {
        StepIndicatorSteps.SetActiveStep(this);
    }
}
