name: PR Build and Test

on:
  pull_request

jobs:

  build_test:

    name: Build and Test

    runs-on: ubuntu-24.04

    if: github.actor != 'dependabot[bot]'

    strategy:
      matrix:
        configuration: [Debug, Release]

    steps:

      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # avoid shallow clone

      - name: Set .NET SDK version
        uses: actions/setup-dotnet@v5
        with:
          global-json-file: global.json

      - name: Add GitHub Packages 'dseinternational' Feed
        run: dotnet nuget update source dseinternational --username "dsegroup" --password ${{ secrets.PACKAGES_TOKEN }} --store-password-in-clear-text --source "https://nuget.pkg.github.com/dseinternational/index.json" --configfile "./NuGet.config"

      - name: Initialize version
        id: nbgv
        uses: dotnet/nbgv@master

      - name: Set-Version
        run: ./eng/scripts/set-version.ps1
        shell: pwsh

      - name: Diagnostics
        run: 'Get-ChildItem Env:'
        shell: pwsh

      - name: Restore
        run: dotnet restore ./DSE.Open.RazorToolkit.slnx

      - name: Build
        run: dotnet build ./DSE.Open.RazorToolkit.slnx --configuration ${{ matrix.configuration }}

      - name: Run Tests
        uses: dseinternational/open-dotnet/.github/actions/dotnet-test@actions-0.10
        with:
          target: ./test
          configuration: ${{ matrix.configuration }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DSE_TEST_ENVIRONMENT: test

      # TODO: Publish WASM samples
